body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fefae0ff;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #283618ff;
    padding-top: 20px;
    transition: left 0.5s ease; /* Added transition */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fefae0ff;
    display: block;
}

.sidebar a:hover {
    background-color: #606c38ff;
}

#sidebar-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #bc6c25ff;;
}

.user-profile {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    z-index: 1;
}

.user-profile:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: #283618ff;
    display: block;
    margin-top: 10px;
}

.dropdown-content a:hover {
    color: #bc6c25ff;
}
