#edit-profile-form {
     display: none;
     background-color: #283618ff;
     color: #fefae0ff;
     padding: 20px;
     border-radius: 10px;
 }
 
 #edit-profile-form h1 {
     color: #fefae0ff;
     margin-bottom: 20px;
 }
 
 #edit-profile-form label {
     display: block;
     margin-bottom: 10px;
     color: #fefae0ff;
 }
 #edit-profile-form input[type="text"],
#edit-profile-form input[type="email"],
#edit-profile-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

#edit-profile-form input[type="submit"] {
    background-color: #dda15eff;
    color: #fefae0ff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile-form input[type="submit"]:hover {
    background-color: #bc6c25ff;
}