* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fefae0; 
}
.contact h2{
    margin-top: 70px;
    font-size: 40px;
    color: #283618; 
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #606c38; 
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #283618; 
    margin: 12px 0;
}
.field.error.item{
    border-color: #bc6c25; 
}
.field.item::placeholder{
    color: rgba(40, 54, 24, 0.5); 
}
.field .error-txt {
    font-size: 14.5px;
    color: #bc6c25; 
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
.field.error .error-txt{
    display: block;
}
form .textarea-field.item{
    resize: none;
}
form.textarea-field.error-txt{
    margin-top: -10px;
}
form button{
    padding: 12px 32px;
    background: #283618;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #283618; 
    font-size: 16px;
    color: #fefae0; 
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}
form button:hover{
    background: #606c38; 
    box-shadow: none;
}
